# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log
*.sqlite3
*.db

# Virtual environments
venv/
my_env/
.env
.venv311

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Audio files
*.wav
*.mp3
*.ogg

# Gradio flagged data
flagged/

# Misc
*.bak
*.tmp

